# Virtualenv
env/
venv/

# VSCode
.vscode

# Python
__pycache__/
*.py[cod]
*$py.class

# Apps
tickets/
metaservicesynced/
conf/
design_template/
webservice_running/
landing/
user/

# Django
migrations/
staticfiles/
media/

# Other
*.sqlite3
*.*~
*.*.swp
.DS_Store

# Project configuration variables
core/settings_vars.py