# Virtualenv
env/
venv/
#module
webservice_running/
design_template/
tickets/
landing/
metaservicesynced/
sharix-open-config/
openlocal/
staticfiles/
core/config.py
SharixAdmin/migrations/
!SharixAdmin/migrations/__init__.py
# VSCode
.vscode

# Python
__pycache__/
*.py[cod]
*$py.class

# Other
*.sqlite3
.env

# Vim
*~
