# Virtualenv
env/
venv/
#module
tickets/
metaservicesynced/
openlocal/
staticfiles/
core/config.py
SharixAdmin/migrations/
!SharixAdmin/migrations/__init__.py
# VSCode
.vscode

# Python
__pycache__/
*.py[cod]
*$py.class

# Other
*.sqlite3
.env

# Vim
*~
