@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 130vh;
}

.nav-item {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 24px;
}
.footer-item {
    margin-top: 4px;
    font-size: 14px;
    color: #3F3F3F;
    font-weight: 400;
}
.footer-color{
    color: #479FF8;
}
.footer-link a{
    text-decoration: none;
}
.arrow {
    margin: auto;
    color: #479FF8;
}
.rectangle-arrow {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 78px;
    height: 40px;
    align-items: center;
    vertical-align: middle;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
    background: #FFF;
    box-shadow: 4px 5px 40px 0px #E5E5E5;
    margin-top: 24px;
    margin-left: 10px;
    justify-content: center;
}
.nav-item span {
    margin-left: 4px;
}
.nav-pills .nav-link {
    height: 48px;
    display: flex;

}
.link {
    margin-top: 4px;
}
