

h1.mainHeader {
    font-weight: 700;
    font-size: 28px;
}
p.description_service {
    text-align: start;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #7E7E7E;
    letter-spacing: 0.14px;
    margin-top: 14px;
}


table.table thead th.orderable {
    background: url('service_type/arrow_fil.svg') no-repeat center right;
}
table.table thead th.asc {
    background: url('service_type/arrow_asc.svg') no-repeat center right;
}
table.table thead th.desc {
    background: url('service_type/arrow_desc.svg') no-repeat center right;
}

.delete_col {
    background-image: url('service_type/delete.svg');
    background-position: center right;
    background-repeat: no-repeat;
}
.delete_col a {
    color: transparent;
    line-height: 24px;
}
.delete_col a:hover {
    color: transparent;
}

.edit_col a {
    color: transparent;
}
.edit_col a:hover {
    color: transparent;
}
.edit_col{
    background: url('service_type/pencil.svg') no-repeat center right;
}


.description_col {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 610px;
    justify-content: center;
    &:hover {
        white-space: normal;
}
}


table.table thead th {
    border: 1px #ffffff;
}
.description_col-active {
    border: 1px #95C0F6;
}
.test {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    background-color: #95C0F6;
}

table.table {
    border-spacing: 0;
}

table.table tbody tr:hover {
    box-shadow: 0px 0px 0px 1.5px #95C0F6;
    border-radius: 10px;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

#bord {
    background-color: #479FF8;
    color: #ffffff;
}

