{% extends 'sharix_admin/base.html' %}
{% load static %}

{% block title %}ShariX Open - Восстановление пароля{% endblock %}

{% block content %}
<div class="d-flex vh-100">
    <div class="m-auto w-100 p-4 d-flex flex-column justify-content-center align-items-center text-center">
        <div class="mb-4">
            <h1 class="fs-2">Приносим свои извинения, автоматическое восстановление паролей сейчас не работает!</h1>
            <a href="{% url "sharix_admin:auth_login" %}">Вернуться на страницу входа</a>
        </div>

        <small class="text-muted">&#169; ShariX Open {% now "Y" %}</small>
    </div>
</div>
{% endblock %}