{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'SharixAdmin/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'SharixAdmin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'drf-yasg/service_type.css' %}">
    <link rel="stylesheet" href="{% static 'drf-yasg/colors2.css' %}">
    <link rel="stylesheet" href="{% static 'SharixAdmin/css/style.css' %}">

    <title>{{ title }}</title>
</head>

<body>
    {% block content %}{% endblock %}
    
    <script src="{% static 'SharixAdmin/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>