{% extends 'SharixAdmin/index.html' %}

{% block contenthome %}
    <h1 >{{ title }}</h1>
    <div class="container" style="padding: 2px;">
        <div class="row fs-6">
            
            <div class="col-6 ">
                <ul class="list-group">
                    <li class="list-group-item light"><strong>Документация</strong> </li>
                    <li class="list-group-item"><a  href="https://wiki.sharix-app.org/doku.php/sharix/legal/politika_konfidencialnosti_platformy_sharix">Политика конфиденциальности</a></li>
                    <li class="list-group-item"><a  href="https://wiki.sharix-app.org/doku.php/sharix/legal/pravila_okazanija_uslug">Правила оказания услуг</a></li>
                    <li class="list-group-item"><a  href="https://wiki.sharix-app.org/doku.php/sharix/legal/porjadok_okazanija_uslug">Порядок оказания услуг</a></li>
                    <li class="list-group-item"><a  href="https://wiki.sharix-app.org/doku.php/sharix/legal/perechen_uslug_platformy">Перечень услуг</a></li>
                    <li class="list-group-item"><a  href="{% url 'schemav1' %}">Схема 1</a></li>
                    <li class="list-group-item"><a  href="{% url 'schemav2' %}">Схема 2</a></li>
                    <li class="list-group-item"><a  href="{% url 'schema' %}">Схема 3</a></li>
                  </ul>
            </div>
            <div class="col-6 text-end">
                <p>Пользователя: <b>{{ request.user.username }}</b></p>
                <p >Телефон: <b>{{ phone }}</b></p>
                <p >Дата регистрации: <b>{{ request.user.date_joined }}</b> </p>
                <p >Баланс: <b>{{ wallet.balance }} баллов</b></p>
                <a href="{% url 'balance' %}" class="btn btn-success">Купить баллы</a>
            </div>
        </div>
    </div>
    
{% endblock contenthome %}