{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="mb-4">{{ title }}</h1>
    <form method="post" style="overflow: auto">
        {% csrf_token %}
        <div class="container m-2">
            {% for field in form %}
            {{field.errors}}
            <div class="row">
                {{field.label_tag}}
                {{field}}
                <p class="fs-6 fst-italic">{{field.help_text|truncatewords:20}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-2 mb-5">
            <input class="btn btn-primary center" type="Submit" name="submit" value="{% trans 'Submit' %}"/>
        </div>
    </form>
</body>
</html>



