{% extends 'SharixAdmin/index.html' %}
{% load i18n %}
{% load static %}

{% block contenthome %}
<p class="description_service">
    Это система управления государством, источником власти в которой является сам народ. Именно народ решает, какие законы и нормы необходимы для гармоничного существования и развития государства. Таким образом, каждый человек в демократическом обществе 
    Получает определенный набор свобод и обязательств сформированных с учетом интересов всего сообщества. Исходя из вышесказанного, можно заключить, что демократия – это возможность для каждого человека свободно участвовать в непосредственном управлении своим государством, обществом и личной судьбой в конечном счете
</p>

<div class="card w-100 mb-4">
    <div class="card-body position-relative">
        <h5 class="card-title fw-bold mb-4">{{ company.legal_name }}</h5>

        <ul class="list-style-none">
            <li><b>Представитель</b> {{ company.repr_id.get_full_name }}</li>
            <li><b>Юр. адрес</b> {{ company.address }}</li>
            
            <!-- FIXME: Не настроено -->
            <li><b>НДС</b> Не платит</li>
            
            <li><b>ИНН</b> {{ company.inn }}</li>
            <li><b>ОГРН</b> {{ company.ogrn }}</li>
            <li><b>Р/c</b> {{ company.rs }}</li>
            <li><b>К/c</b> {{ company.ks }}</li>
            <li><b>БИК</b> {{ company.bik }}</li>
            <li><b>Банк</b> {{ company.bank_name }}</li>
        </ul>
    </div>
    <a class="btn btn-primary btn-edit" href="{% url "partner_edit" %}">
        <img src="{% static 'SharixAdmin/img/pencil.svg' %}">
    </a>
</div>

<h6 class="mb-4">Документы</h6>
    <ul class="list-style-none">
        {% for document in company_documents %}
            <li class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <img class="me-2" style="height: 32px;" src="{% static "SharixAdmin/img/file.svg" %}">
                    {{ document }}
                </div>
                <button class="btn btn-sm btn-outline-primary">Загрузить</button>
            </li>
        {% endfor %}
    </ul>
{% endblock contenthome %}