{% extends 'SharixAdmin/index.html' %}
{% load render_table from django_tables2 %}

{% block contenthome %}
    <h1 >{{ title }}</h1>

    <div class="container text-center mt-2">
      {% render_table table %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // Запрос на изменения статуса партнера
      $('.status-toggle').change(function() {
        var partners_id = $(this).data('partners-id');
        var new_status = $(this).prop('checked') ? 'active' : 'deactivated';
        $.ajax({
          url: '{% url "partners/change_status" %}',
          type: 'POST',
          data: {
            'partners_id': partners_id,
            'new_status': new_status,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            var scrollTop = window.pageYOffset;
            location.reload();
            window.scrollTo(0, scrollTop);
          },
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
          }
        });
      });
    </script> 
    

    
{% endblock contenthome %}