{% extends 'SharixAdmin/index.html' %}
{% load i18n %}

{% block contenthome %}
    <p class="description_service">Это система управления государством, источником власти в которой является сам народ. Именно народ решает, какие законы и нормы необходимы для гармоничного существования и развития государства. Таким образом, каждый человек в демократическом обществе 
  Получает определенный набор свобод и обязательств сформированных с учетом интересов всего сообщества. Исходя из вышесказанного, можно заключить, что демократия – это возможность для каждого человека свободно участвовать в непосредственном управлении своим государством, обществом и личной судьбой в конечном счете.</p>

<div class="row justify-content-start">
    <div class="maintable" id="maintable">
        <table class="table table-sm m-2">
            <tbody>
                <tr>
                  <td scope="col" class="p-3"><b>Информация о компании</b></td>
                  <td scope="col" class="p-3"></td>
                </tr>
                <tr>
                  <td class="p-3">Тип компании</td>
                  <td class="p-3">ИП</td>
                </tr>
                <tr>
                  <td class="p-3">Юр. адрес</td>
                  <td class="p-3">54138 г. Челябинск, пр-кт Комсомольский, дом 36, кв. 160</td>
                </tr>
                <tr>
                  <td class="p-3">Является ли компания плательщиком НДС?</td>
                  <td class="p-3">Нет</td>
                </tr>
                <tr>
                  <td class="p-3">ИНН</td>
                  <td class="p-3">744811430253</tыd>
                </tr>
                <tr>
                  <td class="p-3">ОГРН/ОГРНИП</td>
                  <td class="p-3">317745600090980</td>
                </tr>
                <tr>
                  <td class="p-3">Расчетный счет</td>
                  <td class="p-3">40802810938000000117</td>
                </tr>
                <tr>
                  <td class="p-3">Корреспондентский счет</td>
                  <td class="p-3">30101810145250000411</td>
                </tr>
                <tr>
                  <td class="p-3">БИК</td>
                  <td class="p-3">044525411</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
<div class="text-end mt-3">
    <a class="btn btn-primary ps-3 pe-3" id="bord" href="/payment_form">Редактировать</a>
</div>
</div>    
{% endblock contenthome %}