{% extends 'SharixAdmin/index.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load static %}

{% block contenthome %}
<style>
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
</style>

<p class="description_service">Это система управления государством, источником власти в которой является сам народ. Именно народ решает, какие законы и нормы необходимы для гармоничного существования и развития государства. Таким образом, каждый человек в демократическом обществе 
        Получает определенный набор свобод и обязательств сформированных с учетом интересов всего сообщества. Исходя из вышесказанного, можно заключить, что демократия – это возможность для каждого человека свободно участвовать в непосредственном управлении своим государством, обществом и личной судьбой в конечном счете.</p>
      <div class="row justify-content-start">
          <div class="maintable" id="maintable">
            {% render_table table %}
          </div>     
      </div>

  <div class="container text-end mt-2">
    <a class="btn btn-primary" id="bord" href="/service_type/add">{% trans 'Add' %}</a>
  </div>
{% endblock contenthome %}
