{% extends 'SharixAdmin/index.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block contenthome %}
    <h1 class="mainHeader">{{ title }}</h1>
    <p class="description_service">Это система управления государством, источником власти в которой является сам народ. Именно народ решает, какие законы и нормы необходимы для гармоничного существования и развития государства. Таким образом, каждый человек в демократическом обществе 
      Получает определенный набор свобод и обязательств сформированных с учетом интересов всего сообщества. Исходя из вышесказанного, можно заключить, что демократия – это возможность для каждого человека свободно участвовать в непосредственном управлении своим государством, обществом и личной судьбой в конечном счете.</p>
    <div class="container text-center mt-2">
          {% render_table table %}

          {% comment %} {% if table.page %}
            <nav aria-label="...">
              <ul class="pagination">
                {% if table.page.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ table.page.previous_page_number }}" tabindex="-1">{% trans 'Previous' %}</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">{% trans 'Previous' %}</span>
                </li>
                {% endif %}
                {% for page in table.page_range %}
                  {% if page == table.page.number %}
                  <li class="page-item active">
                    <span class="page-link">{{ page }} <span class="sr-only">{% trans '(current)' %}</span></span>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page }}">{{ page }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if table.page.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ table.page.next_page_number }}">{% trans 'Next' %}</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">{% trans 'Next' %}</span>
                </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %} {% endcomment %}
    </div>
    <div class="container text-end mt-2">
      <a class="btn btn-primary" href="/service_tariff/add">{% trans 'Add' %}</a>
    </div>
{% endblock contenthome %}