{% extends 'SharixAdmin/index.html' %}
{% load i18n %}

{% block contenthome %}
<h1 class="mb-4">{{ title }}</h1>
{{object.servicetype_id.caption}}
{{object.id_provider.company_id.address}}
{{object.id_provider.company_id.repr_id}}
{{object.servicetype_id.description}}
<form method="post" style="overflow: auto">
    {% csrf_token %}
    <div class="container m-2">
        {% for field in form %}
        {{field.errors}}
        <div class="row">
            {{field.label_tag}}
            {{field}}
            <p class="fs-6 fst-italic">{{field.help_text|truncatewords:20}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mt-2 mb-5">
        <input class="btn btn-primary center" type="submit" name="apply" value="{% trans 'Submit' %}" />
    </div>
</form>
{% endblock %}