{% extends 'sharix_admin/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="loader-wrapper">
  <div id="loader"></div>
</div>

<div class="content p-4 mx-auto d-flex flex-column justify-content-between">
  <nav id="menu-bar">
    <button class="bg-white border box-shadow rounded mb-2 px-4 py-1" onclick="menuBarSwitch()">
        <img id="menu-bar-img-arrow" src="{% static 'sharix_admin/img/menu/arrow-right.svg' %}">
    </button>

    <ul class="d-flex flex-column nav nav-pills rounded box-shadow border p-2 bg-white">
      <li class="nav-item">
        <a href="{% url 'sharix_admin:main' %}" class="nav-link {% if current_page == 'main' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'main' %}
                  {% static 'sharix_admin/img/menu/house_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/house.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Главная</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'tickets:ticket_list_list' %}" class="nav-link {% if current_page == 'tickets' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'tickets' %}
                  {% static 'sharix_admin/img/menu/tickets_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/tickets.svg' %}
                {% endif %}"> 
            <span class="menu-bar-label">Заявки</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'sharix_admin:service' %}" class="nav-link {% if current_page == 'service' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'service' %}
                  {% static 'sharix_admin/img/menu/briefcase_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/briefcase.svg' %}
                {% endif %}"> 
            <span class="menu-bar-label">Услуги сервиса</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="http://study.reversea.net/" class="nav-link {% if current_page == 'education' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'education' %}
                  {% static 'sharix_admin/img/menu/education_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/education.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Курсы</span>
          </div>
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:partners' %}" class="nav-link {% if current_page == 'partners' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'partners' %}
                  {% static 'sharix_admin/img/menu/people_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/people.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Партнеры</span>
          </div>
        </a>
      </li> {% endcomment %}
      {% if not "PARTNER-ADMIN" in user_groups %}
        <li class="nav-item">
          <a href="{% url 'sharix_admin:cooperate' %}" class="nav-link {% if current_page == 'cooperate' %}active rounded{% endif %}">
            <div class="link d-flex align-items-center">
              <img
                class="nav-img"
                src="
                  {% if current_page == 'cooperate' %}
                    {% static 'sharix_admin/img/menu/handshake_w.svg' %}
                  {% else %}
                    {% static 'sharix_admin/img/menu/handshake.svg' %}
                  {% endif %}">
              <span class="menu-bar-label">Сотрудничество</span>
            </div>
          </a>
        </li>
      {% endif %}
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:user_information' %}" class="nav-link {% if current_page == 'none' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'none' %}
                  {% static 'sharix_admin/img/menu/hdd-network_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/hdd-network.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Управление правами</span>
          </div>
        </a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:service_type' %}" class="nav-link {% if current_page == 'service_type' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'service_type' %}
                  {% static 'sharix_admin/img/menu/briefcase_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/briefcase.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Услуги сервиса</span>
          </div>
        </a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:transactions' %}" class="nav-link {% if current_page == 'transactions' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'transactions' %}
                  {% static 'sharix_admin/img/menu/clock-history_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/clock-history.svg' %}
                {% endif %}">
            <span class="menu-bar-label">История заказов</span>
          </div>
        </a>
      </li> {% endcomment %}
      {% if "PARTNER-ADMIN" in user_groups %}
        <li class="nav-item">
          <a href="{% url 'sharix_admin:partner_detail' %}" class="nav-link {% if current_page == 'partner' %}active rounded{% endif %}">
            <div class="link d-flex align-items-center">
              <img
                class="nav-img"
                src="
                  {% if current_page == 'partner' %}
                    {% static 'sharix_admin/img/menu/person_w.svg' %}
                  {% else %}
                    {% static 'sharix_admin/img/menu/person.svg' %}
                  {% endif %}">
              <span class="menu-bar-label">О партнере</span>
            </div>
          </a>
        </li>
      {% endif %}
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:service_information-add' %}" class="nav-link {% if current_page == 'service_info' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'service_info' %}
                  {% static 'sharix_admin/img/menu/person_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/person.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Информация о сервисе</span>
          </div>
        </a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item">
        <a href="{% url 'sharix_admin:payment' %}" class="nav-link {% if current_page == 'payment' %}active rounded{% endif %}">
          <div class="link d-flex align-items-center">
            <img
              class="nav-img"
              src="
                {% if current_page == 'payment' %}
                  {% static 'sharix_admin/img/menu/credit-card_w.svg' %}
                {% else %}
                  {% static 'sharix_admin/img/menu/credit-card.svg' %}
                {% endif %}">
            <span class="menu-bar-label">Реквизиты</span>
          </div>
        </a>
      </li> {% endcomment %}
    </ul>
  </nav>

  <div id="user-workspace" class="p-5 border rounded box-shadow">
      <h1>{{ title }}</h1>
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      
      {% block view %}{% endblock view %}
  </div>

  <footer class="d-flex justify-content-between mt-3 p-2 align-items-center border rounded box-shadow">
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary-subtle p-3">
          <i class="fa-solid fa-user"></i>
        </div>
        <span class="mx-2 text-nowrap text-muted">{{ user }}</span>
    </div>

    <div class="d-flex gap-3 mx-2">
        {% comment %} <a href="{% url 'contact' %}">{% trans 'Contacts' %}</a> {% endcomment %}
        <a href="https://wiki.sharix-app.org/doku.php/sharix/legal/soglashenie_s_servisom_na_ispolzovanie_platformy_sharix">{% trans 'Terms of use' %}</a>
        <a href="https://wiki.sharix-app.org/doku.php/sharix/legal/politika_konfidencialnosti_platformy_sharix">{% trans 'Privacy policy' %}</a>
        <a href="https://wiki.sharix-app.org/doku.php">Помощь</a>
    </div>

    <form method="post" action="{% url 'sharix_admin:auth_logout' %}">
      {% csrf_token %}
      <button class="btn btn-sm btn-outline-secondary text-nowrap" type="submit">
        Выйти
        <i class="fa-solid fa-right-from-bracket ms-1"></i>
      </button>
    </form>
  </footer>
</div>

<script src="{% static 'sharix_admin/js/menu-bar.js' %}"></script>

<script>
  // Запуск некоторых функций после загрузки страницы
  document.addEventListener('DOMContentLoaded', function() {
    menuBarControll();
  });

  // Функция для скрытия экрана загрузки
  function hideLoader() { document.getElementById("loader-wrapper").style.display = "none"; }

  // Скрыть экран загрузки через 4 секунды
  setTimeout(hideLoader, 400);
</script>
{% endblock %}