{% extends 'sharix_admin/base_admin.html' %}

{% block view %}
<p>
    {{ user }}, приветствуем в личном кабинете сервиса ShariX Open!

    <!-- FIXME: Сменить адрес ссылки -->
    <a href="#" class="text-nowrap">Личный кабинет ShariX Platform</a>
</p>

{% if "CLIENT" in user_groups %}
    <div class="card mb-5">
        <div class="card-body d-flex justify-content-between align-items-center">
            <span>Баланс: 0 <i class="fa-solid fa-coins me-1"></i></span>
            <!-- FIXME: Сменить адрес ссылки -->
            <a href="#" class="btn btn btn-primary disabled">
                Пополнить
            </a>
        </div>
    </div>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <h2>Доступные группы</h2>
        <div class="my-3">
            {% for group in user_groups %}
                <span class="badge rounded-pill text-bg-primary">{{ group }}</span>
            {% empty %}
                <p class="opacity-50 m-0">Вы пока еще не добавлены ни в одну группу</p>
            {% endfor %}
        </div>

        <div class="d-flex flex-wrap gap-1 text-nowrap mt-2">
            <!-- FIXME: Сменить адрес ссылки -->
            <a href="#" class="btn btn-sm btn-primary disabled">
                <i class="fa-solid fa-people-group me-1"></i>
                Стать частью команды
            </a>
            {% if not "PARTNER-ADMIN" in user_groups %}
                <a href="{% url "sharix_admin:cooperate" %}" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-handshake me-1"></i>
                    Стать партнером
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <h2>Документация</h2>
        <ul>
            <!-- FIXME: Сменить адреса всех ссылок -->
            <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/politika_konfidencialnosti_platformy_sharix">Политика конфиденциальности</a></li>
            <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/pravila_okazanija_uslug">Правила оказания услуг</a></li>
            <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/porjadok_okazanija_uslug">Пользовательское соглашение с пользователями</a></li>

            {% if "PARTNER-ADMIN" in user_groups %}
                <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/porjadok_okazanija_uslug">Пользовательское соглашение с партнерами</a></li>
            {% endif %}

            {% if "CLIENT" in user_groups %}
                <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/porjadok_okazanija_uslug">Договор на оказание услуг</a></li>
            {% endif %}

            {% if "PARTNER-ADMIN" in user_groups or "METASERVICE-ADMIN" in user_groups %}
                <li><a href="https://wiki.sharix-app.org/doku.php/sharix/legal/porjadok_okazanija_uslug">Договор оказания посреднических услуг (с платформой)</a></li>
            {% endif %}

            {% if "METASERVICE-TECHSUPPORT" in user_groups %}
                <li><a href="{% url 'sharix_admin:schemav1' %}">Схема 1</a> / <a  href="{% url 'sharix_admin:schemav2' %}">Схема 2</a> / <a  href="{% url 'sharix_admin:schema' %}">Схема 3</a> / <a  href="{% url 'sharix_admin:schema-redoc' %}">API</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}