{% extends 'sharix_admin/index.html' %}
{% load i18n %}
{% load static %}

{% block contenthome %}
<p class="description_service">
    Это система управления государством, источником власти в которой является сам народ. Именно народ решает, какие законы и нормы необходимы для гармоничного существования и развития государства. Таким образом, каждый человек в демократическом обществе 
    Получает определенный набор свобод и обязательств сформированных с учетом интересов всего сообщества. Исходя из вышесказанного, можно заключить, что демократия – это возможность для каждого человека свободно участвовать в непосредственном управлении своим государством, обществом и личной судьбой в конечном счете
</p>

<div class="card w-100 mb-4">
    <div class="card-body position-relative">
        <h5 class="card-title fw-bold mb-4">{{ company.legal_name }}</h5>

        <ul class="list-style-none">
            <li><b>Представитель</b> {{ company.repr_id.get_full_name }}</li>
            <li><b>Юр. адрес</b> {{ company.address }}</li>
            
            <!-- FIXME: Не настроено -->
            <li><b>НДС</b> Не платит</li>
            
            <li><b>ИНН</b> {{ company.inn }}</li>
            <li><b>ОГРН</b> {{ company.ogrn }}</li>
            <li><b>Р/c</b> {{ company.rs }}</li>
            <li><b>К/c</b> {{ company.ks }}</li>
            <li><b>БИК</b> {{ company.bik }}</li>
            <li><b>Банк</b> {{ company.bank_name }}</li>
        </ul>
    </div>
    <a class="btn btn-primary btn-edit" href="{% url "partner_edit" %}">
        <img src="{% static 'sharix_admin/img/pencil.svg' %}">
    </a>
</div>

<h6 class="mb-4">Документы</h6>
    <ul class="list-style-none">
        {% for doc in docs %}
            <li class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    {% if doc.ticket_status and doc.status == "deactivated" %}
                        <i class="fa-solid fa-clock-rotate-left me-2 no-user-select fs-4 text-warning"></i>
                    {% elif doc.status == "activated" %}
                        <i class="fa-solid fa-check me-2 no-user-select fs-4 text-success"></i>
                    {% else %}
                        <i class="fa-regular fa-file me-2 no-user-select fs-4 text-primary"></i>
                    {% endif %}

                    {{ doc.get_doc_type_display }}
                </div>
                
                {% if doc.ticket_status %}
                    <a class="btn btn-sm btn-outline-primary" href="{% url "partner_doc" doc.doc_type %}">Посмотреть</a>
                {% else %}
                    <a class="btn btn-sm btn-primary" href="{% url "partner_doc_upload" doc.doc_type %}">Загрузить</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock contenthome %}