{% extends 'sharix_admin/base_admin.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block view %}
    <p class="description_service">Это то, что ShariX предлагает своим клиентам и партнерам. Добавляйте новые услуги и редактируйте существующие.  Новая услуга добавляется неактивной – активируйте ее в Заявках.</p>
      <p class="description_service">Партнеры выбирают услуги из предложенных и уточняют их в заданных рамках.</p>
  
    <div>
      <details>
      <summary>
        Как пользоваться?
      </summary>
      <p>А тут ответ как пользоваться</p>
    </details>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script>
      // Запрос на изменения статуса исполнителя
      $('.status-toggle').change(function() {
        var service_id = $(this).data('service-id');
        var new_status = $(this).prop('checked') ? 'active' : 'deactivated';
        $.ajax({
          url: '#',
          type: 'POST',
          data: {
            'service_id': service_id,
            'new_status': new_status,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            var scrollTop = window.pageYOffset;
            location.reload();
            window.scrollTo(0, scrollTop);
          },
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
          }
        });
      });
    </script> -->
    
<div class="row">
  <div class="col">
    <input>
  </div>
  <div class="col"></div>
  <div class="col">
    <button class="btn btn-primary">+ Услугу</button>
  </div>
</div>
<div>
  {% render_table table %}
</div>
    
{% endblock %}